#finder {
  display: none;
  flex-direction: column;

  .active {
    display: flex;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-content: center;
    margin-top: 30px;
    

    .current-message {
      font-size: 16px;
      font-weight: $font-semibold;
      color: white;
      padding: 0 10px;
      border-radius: $radius;
    }

    .table {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(10, 28px);
      grid-template-rows: repeat(10, 28px);
      border: 1px solid white;

      .grid-item {
        font-size: 12px;
        text-justify: center;
        text-align: center;
        color: white;
        font-weight: $font-semibold;
        border: 1px solid white;
      }
    }

    .phase-button {
      color: white;
      margin: 10px auto;
      width: fit-content;
      background-color: $color-main;
      padding: 3px 10px;
      text-align: center;
      text-justify: center;
      border-radius: $radius;
    }
  }
}