#finder {
  display: none;
  flex-direction: column;
  //max-height: 30vh;

  .active {
    display: flex;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-content: center;
    //background: grey;
    margin-top: 30px;
    //border: 5x solid white;
    

    .current-message {
      //margin: 10px;
      font-size: 16px;
      font-weight: $font-semibold;
      color: white;
      padding: 0 10px;
      border-radius: $radius;
    }

    .table {
      margin-top: 10px;
      //background: white;
      display: grid;
      grid-template-columns: repeat(10, 28px);
      grid-template-rows: repeat(10, 28px);
      //gap: 5px white;
      border: 2px solid white;
      /* Optional: adds border around the grid */

      .grid-item {
        //background: grey;
        font-size: 12px;
        text-justify: center;
        text-align: center;
        color: white;
        font-weight: $font-semibold;
        border: 2px solid white;
      }
    }

    .phase-button {
      color: white;
      margin: 10px auto;
      //height: 30px;
      width: fit-content;
      background-color: $color-main;
      padding: 3px 10px;
      text-align: center;
      text-justify: center;
      border-radius: $radius;
    }
  }
}