.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-content: center;
    background: grey;
    margin-top: 50px;

    .table {
        margin-top: 50 px;

        background: white;
        display: grid;
        grid-template-columns: repeat(10, 20px);
        grid-template-rows: repeat(10, 20px);
        gap: 5px;
        border: 1px solid black;
        /* Optional: adds border around the grid */

        .grid-item {
                background: grey;
                font-size: 10px;
        }
    }

    .phase-button {
        margin: 30px auto;
        height: 30px;
        width: 70px;
        background-color: yellow;
    }
}





